<p>dashboard works!</p>
<div id="nav">
    <ul id="p1">
        <li><a href="/products">Products</a></li>
    </ul>
    <ul id="p2">
        <li><a href="/login">LOGOUT</a></li>
    </ul>
     
</div>

<div id="p3">
    <div id="p4">
        <h1>DashBoard</h1>
        <form>
            <label>Card Number:</label>
            <input type="text" name="Card Number" placeholder="enter number"><br><br>
            <label>Card Name:</label>
            <input type="text" name="cardname" placeholder="enter name"><br><br>
            <label>Valid Till: </label>
            <select name="months" id="months">
                <option value="Jan">Jan</option>
                <option value="Feb">Feb</option>
                <option value="Mar">Mar</option>
                <option value="Apr">Apr</option>
                <option value="May">May</option>
                <option value="Jun">Jun</option>
                <option value="Jul">Jul</option>
                <option value="Aug">Aug</option>
                <option value="Sep">Sep</option>
                <option value="Oct">Oct</option>
                <option value="Nov">Nov</option>
                <option value="Dec">Dec</option>
            </select>
            <select name="years" id="years">
                <option value="2025">2020</option>
                <option value="2024">2019</option>
                <option value="2023">2018</option>
                <option value="2022">2017</option>
                <option value="2021">2016</option>
                <option value="2020">2015</option>
            </select><br><br>
            <label>Card Type:</label>
            <input type="radio" name="radioCalc" id="radiogold">&nbsp;Gold
            <input type="radio" name="radioCalc" id="radiotitanium">&nbsp;Titanium<br><br>
            <p>Activated</p>
        </form>
        <div id="p5">
            <label>credit user:</label>
            <input type="text" name="Credit user"><br><br>
            <label>Remaining credit:</label>
            <input type="text" name="remaining credit">
        </div>
    </div>
</div>
