<div class="container">
    <form class="w-50 mx-auto mt-5">
      <h3 class="text-center mt-1 mb-4">Forgot Password</h3>
      <div class="form-group d-flex justify-content-center">
        <label class="d-flex align-items-center" for="phNum">Phone No</label>
        <input
          type="text"
          class="form-control w-50"
          style="margin-left: 30px"
          id="phNum"
          placeholder="Enter Phone Number"
        />
      </div>
  
      <button
        (click)="submit($event)"
        class="btn btn-primary my-3"
        style="margin-left: 45%"
      >
        Get OTP
      </button>
  
      <div *ngIf="isOTP" class="form-group d-flex justify-content-center">
        <label class="d-flex align-items-center" for="otp">Enter OTP</label>
        <input
          type="text"
          class="form-control w-50"
          style="margin-left: 30px"
          id="otp"
          placeholder="Enter the OTP"
        />
      </div>

      <button
        (click)="submit($event)"
        *ngIf="isOTP"
        style="margin-left: 45%"
        class="btn btn-success mt-3"
      >
        Verify OTP
      </button>
    </form>
  </div>
